#newPPUrl {
  width: 50%;
}


#loginCenter {
       display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          min-height: 100vh;
          width: 80%;
          margin: 0 auto;
}

body {
  background-color: #9B2335 !important;
}

.navbar-light {
    background-color: transparent !important;
}

td, th {
    background-color: transparent !important;
}



.discover-container {
    text-align: center;
}


.film-list-container {
    overflow-x: auto;
    white-space: nowrap;
}

.film-card {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.film-card:hover {
    transform: scale(1.1);
}
