<!DOCTYPE html>
<html lang="en" xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      layout:decorate="layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Film Application</title>
</head>

<body>

<div layout:fragment="content">



    <div class="discover-container">
        <h1>Discover</h1>
        <div id="filmList" class="film-list">

        </div>
    </div>


    <script src="/scriptDiscover.js"></script>



</div>




</body>
</html>