<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Film Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<!--<div id="header" th:unless="${#authentication == null or #authentication.anonymous}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">My App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/films">Home</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication.isAuthenticated()}">
                        <a class="nav-link" th:href="@{'/user/' + ${#authentication.principal.id}}" >User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>-->

<!--<div id="header" th:unless="${#authentication == null or #authentication.anonymous}">-->
<div id="header" th:if="${#authentication != null and #authentication.name} != 'anon'">
    <div th:text="${#authentication} ? ${#authentication.principal.id} : 'anon'"></div>



    <!-- Header içeriği -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">My App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/films">Home</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" th:href="@{'/user/' + ${#authentication.principal.id}}" >User</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div layout:fragment="content">
    <!-- Kullanıcı giriş yapmışsa -->
    <div th:if="${#authorization.expression('isAuthenticated()')}">

        <a th:href="@{/logout}">Logout</a>
        <!-- Buraya giriş yapmış kullanıcıya özel içerikleri ekleyebilirsiniz -->
    </div>
    <!-- Kullanıcı giriş yapmamışsa -->
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <!-- Buraya giriş yapmamış kullanıcıya özel içerikleri ekleyebilirsiniz -->
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/register}">Register</a>
    </div>
    <!-- Ortak içerikleri ekleyebilirsiniz -->
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <p>&copy; 2024 My Film Application</p>
    </div>
</footer>

</body>
</html>


